.mcjh-annotation-box{
	background-color: #E8E8E8;
	width: 100%;
	vertical-align: top;
	padding: 1%;
	display: block;
	display: inline-block;
	font-style: italic;
	margin-bottom: 20px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.mcjh-annotation-box p{
		margin-bottom:0px;
}


.mcjh-annotation-box .mcjh-annotation-icon{
	position:relative;
	float:left;
	display: inline-block;
	font-style:normal;
	line-height:1;
}

.mcjh-annotation-content{
	display:block;
	position:relative;
}

.mcjh-annotation-content h1, .mcjh-annotation-content h2,.mcjh-annotation-content h3,.mcjh-annotation-content h4{
	margin:0px;
	padding:0px;	
}

.mcjh-annotation-icon-space{
	padding-left:35px;
}

.mcjh-annotation-info-box {
	border-left: 5px solid #55ABE0;
}
.mcjh-annotation-icon-info:before{
	font-size:25px;	
	font-family:'dashicons';
	content: "\f348";
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;

}

.mcjh-annotation-quote-box {
	border-left: 5px solid #39cb2a;
}

.mcjh-annotation-icon-quote:before{
	font-size:25px;	
	font-family:'dashicons';
	content: "\f122";
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	margin-left:5px;
	margin-right:-5px;
}

/*------------------------------------------*/

.mcjh-annotation-pin-box {
border-left: 5px solid green;
}

.mcjh-annotation-icon-pin:before{
	font-family:'dashicons';
	font-size:25px;
	content: "\f109";
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}

/*------------------------------------------*/

.mcjh-annotation-note-box {
border-left: 5px solid orange;
}
.mcjh-annotation-icon-note:before{
	font-size:25px;
		font-family:'dashicons';
	content: "\f464";
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}


.mcjh-annotation-danger-box {
	border-left: 5px solid #ff3333;
}
.mcjh-annotation-icon-danger:before{
	font-size:25px;	
	font-family:'dashicons';
	content: "\f534";
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;

}